In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("E12EXAMPLE.xlsx")
df.head(3)

    이름   강의           전화번호
0  박선준  한국사  010-6138-6625
1  배성일  일본사  010-2901-3320
2  김민석  중국사  010-5132-3850

In [4]:
pdf = df.pivot_table("이름", index="강의", aggfunc="count")
pdf

     이름
강의
근대사   1
영국사  62
유럽사   2
일본사   1
중국사  57
한국사  77

In [5]:
pdf.loc[pdf["이름"] < 10]

     이름
강의
근대사   1
유럽사   2
일본사   1

In [11]:
a1 = pdf.loc[pdf["이름"] < 10].index
df.loc[df["강의"].isin(a1)].to_clipboard(index=False)

# 전체코드

In [ ]:
import pandas as pd
df = pd.read_excel("E12EXAMPLE.xlsx")
pdf = df.pivot_table("이름", index="강의", aggfunc="count")
a1 = pdf.loc[pdf["이름"] < 10].index
df.loc[df["강의"].isin(a1)].to_clipboard(index=False)