In [1]:
import pandas as pd

In [2]:
df1 = pd.read_excel("E13EXAMPLE.xlsx", sheet_name=1)
df2 = pd.read_excel("E13EXAMPLE.xlsx", sheet_name=2)
df1.head(4)

             제품   수량
0  아몬드쿠키 (150g)   40
1   새우육젓 (200g)  200
2    개암염 (250g)   70
3   신안천일염 (5kg)  140

df.set_index(값, drop=bool, append=bool, inplace=bool)  
df.sub(df2, axis=축, fill_value=값)

In [4]:
df1 = df1.set_index("제품")
df2 = df2.set_index("제품")

In [7]:
df3 = df2.sub(df1, fill_value=0)
df3.loc[df3["수량"] != 0].to_clipboard()

# 전체코드

In [ ]:
import pandas as pd
df1 = pd.read_excel("E13EXAMPLE.xlsx", sheet_name=1).set_index("제품")
df2 = pd.read_excel("E13EXAMPLE.xlsx", sheet_name=2).set_index("제품")
df3 = df2.sub(df1, fill_value=0)
df3.loc[df3["수량"] != 0 ].to_clipboard()