In [1]:
import pandas as pd
df1 = pd.read_excel("E15EXAMPLE.xlsx")
df2 = pd.read_excel("E15EXAMPLE.xlsx", sheet_name=1)
df3 = pd.read_excel("E15EXAMPLE.xlsx", sheet_name=2)

In [4]:
df1["연차"] = df1["연차"] + 1
df1

     이름  포지션    비고  연차
0   강은탁   투수  우투우타  17
1   방대한  외야수  좌투좌타  17
2   김모범   포수  좌투우타  15
3   김래원   투수  좌투좌타  15
4   류수영  외야수  우투우타  15
..  ...  ...   ...  ..
95  구은호  내야수  우투좌타   2
96  서세원  내야수  우투양타   2
97  김대현  내야수  좌투좌타   2
98  박혁권  내야수  우투우타   2
99  맹재렬  내야수  우투우타   2

[100 rows x 4 columns]

In [11]:
cond1 = df1["이름"].isin(df3["이름"])
df1 = df1.loc[~cond1]

In [14]:
cond2 = df2["지명팀"] == "롯데"
df2 = df2.loc[cond2]

In [19]:
pd.concat([df1,df2.reindex(columns=df1.columns, fill_value=1)]).to_clipboard(index=False)

In [ ]:
# 전체코드
import pandas as pd
df1 = pd.read_excel("E15EXAMPLE.xlsx")
df2 = pd.read_excel("E15EXAMPLE.xlsx", sheet_name=1)
df3 = pd.read_excel("E15EXAMPLE.xlsx", sheet_name=2)

#작년명부에서 연차를 전부 1씩 더해주기
df1["연차"] = df1["연차"] + 1

#은퇴명부(df3)에 속한 은퇴선수데이터를 df1에서 삭제
cond1 = df1["이름"].isin(df3["이름"])
df1 = df1.loc[~cond1]

#신인지명일람(df2)에서 롯데선수만 필터링
cond2 = df2["지명팀"] == "롯데"
df2 = df2.loc[cond2]

# df1과 df2를 df1의 형식으로 합치기
df3 = pd.concat([df1, df2.reindex(columns=df1.columns, fill_value=1)])
df3.to_clipboard(index=False)