# 1. 엑셀 읽어오기 : read_excel()

In [1]:
import pandas as pd

df1 = pd.read_excel("E01EXAMPLE.xlsx", sheet_name=1)
df1

      이름     제품
0    백철민   아이스티
1    박태인  레몬에이드
2    국지용  아메리카노
3    강민석  레몬에이드
4    박훈정   아이스티
..   ...    ...
369  김경남  아메리카노
370  기정수    유자차
371  기주봉   아이스티
372  백승환  바닐라라떼
373  계승현  레몬에이드

[374 rows x 2 columns]

In [2]:
df2 = pd.read_excel("E01EXAMPLE.xlsx", sheet_name=2)
df2

      제품    가격
0  아메리카노  3900
1  바닐라라떼  3900
2   까페라떼  3900
3   아이스티  4400
4   얼그레이  3800
5    유자차  3500
6  아인슈페너  3500
7    자몽티  4100
8  레몬에이드  4400
9  오렌지주스  3600

# 2. 데이터프레임 병함 : merge()

In [3]:
df3 = df1.merge(df2, how="left")

# 3. 클립보드에 복사 : to_clipboard()

In [4]:
df3.to_clipboard(index=False)

# 4. 전체코드

In [5]:
import pandas as pd
df1 = pd.read_excel("E01EXAMPLE.xlsx", sheet_name=1)
df2 = pd.read_excel("E01EXAMPLE.xlsx", sheet_name=2)
df3 = df1.merge(df2, how='left')
df3.to_clipboard(index=False)