In [1]:
import pandas as pd

In [2]:
df1 = pd.read_excel("E10EXAMPLE.xlsx")
df1.head(3)

    이름   점수    나이
0  문학진  100  26.1
1  김도현  100  61.4
2  배호근   89  62.5

In [12]:
df1["정렬"] = df1["나이"].mask(df1["나이"]<60, 0)
df1 = df1.sort_values(["점수", "정렬", "나이"], ascending=[0,0,1])
df1.drop("정렬", axis=1).to_clipboard(index=False)

# 전체코드

In [13]:
import pandas as pd

df1 = pd.read_excel("E10EXAMPLE.xlsx")
df1["정렬"] = df1["나이"].mask(df1["나이"]<60, 0)
df1 = df1.sort_values(["점수", "정렬", "나이"], ascending=[0,0,1])
df1.drop("정렬", axis=1).to_clipboard(index=False)