In [19]:
from datetime import datetime
import pandas as pd   # 추출된 자료를 데이터 프레임 형태로 사용하기 위한 라이브러리 호출 (Call library for cursor to dataframe)
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from pyhive import presto   # Hive와 연결하기 위한 라이브러리 호출 (Call library for connection to Hive)
from requests.auth import HTTPBasicAuth   # Hive 계정인증을 위한 라이브러리 호출

In [20]:
df2 = pd.read_excel(r"C:\Users\dopark41\OneDrive - Coupang Fulfillment Services\Attachments\GON2_RC2\05. Report\Employee.xlsx")

In [21]:
df2 = df2.rename(columns={'이름':'name', '사용자 ID':'userid'})
df2 = df2[['name', 'userid']]

In [22]:


var_id = 'dopark41'   # Hive ID
var_ps = 'rbqlschlrh23###'   # Hive Password
var_db = 'hive'   # DataBase Name (변경할 필요없음 / No need to change)
var_url = 'cfs-presto.coupang.net'   # DataBase URL (변경할 필요없음 / No need to change)



# Connection Type 2

conn = presto.connect(host=var_url, port=443, protocol='https', catalog=var_db, username=var_id, password=var_ps)



cur = conn.cursor()   # Cursor for Query Sending to DB # 접속 커서를 만드는 코드


### Alternative Connection 
# 구동문

In [23]:
# Test Query
query =\
'''
SELECT * FROM (WITH PICK as(WITH pick as(SELECT DISTINCT * FROM (SELECT date(INV.createdat) date
			,hour(INV.createdat) Timerange
			,INV.description
			,LOT.fullname
			,LOC.floor
			,SKU.id AS skuid
			,SKU.externalid AS externalskuid
			,SKU.name 
			,abs(INV.quantity) qty
			,(abs(INV.quantity)*SKU.weight)/1000 as "weight(kg)"
			,SKU.capacitytype
			,CAST(usr.userid AS int) userid
FROM hive . ods . inventory_logs AS INV
INNER JOIN HIVE.ODS.LOTS      LOT ON LOT.ID = INV.LOTID
INNER JOIN HIVE.ODS.LOCATIONS LOC ON LOC.ID = LOT.LOCATIONID
INNER JOIN HIVE.ODS.SKUS      SKU ON SKU.ID = INV.SKUID
INNER JOIN HIVE.ODS.CENTERS   CEN ON CEN.ID = LOT.CENTERID
INNER JOIN ods.wms_users as usr on inv.workeruserid = usr.id
WHERE 1 = 1
AND CEN.ID IN (108)
AND date(inv.createdat) = cast(current_date as date)
AND inv.TYPE = 'TAKEAWAY'
AND inv.adjusttype = 'REMOVE'))
SELECT Timerange, floor, userid, CASE WHEN qty > 0 THEN 'pick'
     	 ELSE '' END AS type, count(fullname) plt  
	FROM pick
	GROUP BY 1,2,3,4),
	STOW AS(select HOUR(s.createdat) Timerange
		,CASE WHEN s.locationbarcode LIKE('108-0%') THEN '0.5'
		 			WHEN s.locationbarcode LIKE('108-1%') THEN '1'
		 			WHEN s.locationbarcode LIKE('108-3%') THEN '3'
		 			WHEN s.locationbarcode LIKE('108-4%') THEN '4'
		 			ELSE '' END as floor
    ,CAST(A.userid AS int) userid
		,CASE WHEN s.quantity > 0 THEN 'stow'
     	 ELSE '' END AS type
    ,count(s.quantity) plt
    from ods.stow_work_logs s
    JOIN ODS.WMS_USERS A ON (s.WORKERUSERID = A.ID)
    where s.centerid = 108
    and cast(s.createdat as date) = cast(current_date as date)
    and s.eventtype = 'STOW'
    and s.message = 'SUCCESS'
    GROUP BY 1,2,3,4)
SELECT * FROM PICK
UNION
SELECT * FROM STOW)
ORDER BY 1,2,3,4
'''

cur.execute(query)   # Query를 실행 (Execute query)
df = pd.DataFrame(cur.fetchall(), columns=[ix[0] for ix in cur.description])  # 실행된 Query에서 추출된 자료를 DataFrame형태로 전달 (Send executed query to DataFrame)

conn.close()   # Close DataBase connection (추출완료 후, 연결종료를 실행해야 다른 프로그램에서 DataBase 접속이 가능해집니다) # 접속 종료 코드

In [24]:
mdf = pd.merge(left=df, right=df2, on='userid', how='left')
mdf = mdf[['Timerange', 'floor', 'name', 'type', 'plt']]

In [25]:
# # 그림 사이즈 지정
# fig, ax = plt.subplots( figsize=(5,4))

# # 바차트 그리기
# sns.barplot(x = mdf.index, y = mdf['plt'])

In [26]:
# pivot_table 구성
# pd.pivot_table(mdf, index=["name", "type"], values='plt', aggfunc=np.sum)
# pd.pivot_table(mdf, index='name', values='plt', columns='type', aggfunc=np.sum, fill_value='')

In [27]:
# currunt date 구성
now = datetime.now()
current_time = now.strftime("%Y-%m-%d-%H-%M")

In [28]:
# Excel파일로 저장
mdf.to_excel(f'actual_{current_time}.xlsx')

In [29]:
df = sns.load_dataset('tips')
print(df.head())

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4