In [1]:
(5 <= 6) & ( 3 == 4)

False

In [3]:
(2 != 1) | (3 >= 4)

True

In [4]:
(5 <= 6) & (0 == 0) | (3 < 4)

True

In [6]:
a = 2
b = 3
a * b

6

In [7]:
a= 4 
(a > 0) & (a <= 10)

True

In [9]:
type(10)

int

In [10]:
type(10.0)

float

In [23]:
print("*" * 10)

**********

In [1]:
print("한 줄 쓰고\n그 다음 줄을 쓴다.")

한 줄 쓰고
그 다음 줄을 쓴다.

In [3]:
print("한 줄 쓰고 ",end="")
print("이어서 쓴다.")

한 줄 쓰고 이어서 쓴다.

In [4]:
name = "홍길동"
print("내이름은 " + name + "입니다.")

내이름은 홍길동입니다.

In [5]:
mark = "$"
n = 20
print(mark + " 기호를 " + str(n) + "번 출력합니다.")
print(mark * n)

$ 기호를 20번 출력합니다.
$$$$$$$$$$$$$$$$$$$$

In [6]:
print('둘리가 "호이"!하고 말했어요.')

둘리가 "호이"!하고 말했어요.

In [7]:
print("둘리가 '이제 어디로 가지?'하고 생각했어요.")

둘리가 '이제 어디로 가지?'하고 생각했어요.

In [8]:
multi_line_string = """
파이썬(영어: Python)은 1991년 프로그래머인 
귀도 반 로섬(Guido van Rossum)이 발표한 고급 프로그래밍 언어로,
플랫폼 독립적이며 인터프리터식, 객체지향적, 동적 타이핑(dynamically typed) 
대화형 언어이다. 파이썬이라는 이름은 귀도가 좋아하는 코미디 〈Monty Python's Flying 
Circus〉에서 따온 것이다."""

print(multi_line_string)

파이썬(영어: Python)은 1991년 프로그래머인
귀도 반 로섬(Guido van Rossum)이 발표한 고급 프로그래밍 언어로,
플랫폼 독립적이며 인터프리터식, 객체지향적, 동적 타이핑(dynamically typed)
대화형 언어이다. 파이썬이라는 이름은 귀도가 좋아하는 코미디 〈Monty Python's Flying
Circus〉에서 따온 것이다.

In [9]:
# 문자열에서 특정 문자를 다른 문자로 바꾸려면 replace 메서드를 사용한다.
"2020.10.23".replace(".", "-")

'2020-10-23'

In [10]:
"word with space".replace(" ", "")

'wordwithspace'

In [11]:
"2020-12-25".replace("-", "")

'20201225'

In [1]:
"내 이름은 %s입니다." % "홍길동"

'내 이름은 홍길동입니다.'

In [2]:
"나는 %d살 입니다." % 12

'나는 12살 입니다.'

In [3]:
"원주율의 값은 %f입니다." % 3.141592

'원주율의 값은 3.141592입니다.'

In [4]:
"%d 곱하기 %d은 %d이다." % (2, 3, 6)

'2 곱하기 3은 6이다.'

In [5]:
"%s의 %s 과목 점수는 %d점이다." % ("철수", "수학", 100)

'철수의 수학 과목 점수는 100점이다.'

In [7]:
name = "Tom"
age = 13
print(name + " is " + str(age) + " years old")

Tom is 13 years old

In [11]:
a = 10
b = 3
print(str(a) + " / " + str(3) + " = " + str(a/b))

10 / 3 = 3.3333333333333335

In [15]:
"[%20s]" % "*"

'[                   *]'

In [16]:
"[%-20s]" % "A"

'[A                   ]'

In [17]:
"[%20d]" % 123

'[                 123]'

In [18]:
"[%-20d]" % 123

'[123                 ]'

In [20]:
x = 1 / 3.0
"%5f" % x

'0.333333'

In [21]:
"[%-20.6f]" % x

'[0.333333            ]'

In [42]:
a = 3
b = 12
print("%7d" % a)
print("x" + "%6d" % b)
print("--------")
print("%7d" % (a * b))

      3
x    12
--------
     36

In [44]:
a = 123456
aa = format(a, ',d')
b = 7890
bb = format(b, ',d')
c = a + b
cc = format(c, ',d')
print("%10s" % aa)
print("+" + "%9s" % bb)
print("----------")
print("%10s" % cc)

   123,456
+    7,890
----------
   131,346