In [2]:
odd = [1, 3, 5, 7, 9]
odd

[1, 3, 5, 7, 9]

In [3]:
a = []
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]

In [4]:
print(a)
print(b)
print(c)
print(d)
print(e)

[]
[1, 2, 3]
['Life', 'is', 'too', 'short']
[1, 2, 'Life', 'is']
[1, 2, ['Life', 'is']]

In [5]:
a = [1, 2, 3]
a

[1, 2, 3]

In [6]:
a[0]

1

In [7]:
a[0] + a[2]

4

In [8]:
a[-1]

3

In [9]:
a = [1, 2, 3, ['a', 'b', 'c']]

In [10]:
a[0]

1

In [11]:
a[-1]

['a', 'b', 'c']

In [12]:
a[3]

['a', 'b', 'c']

In [13]:
a[-1][0]

'a'

In [14]:
a[-1][1]

'b'

In [15]:
# 삼중 리스트에서 인덱싱하기
a = [1, 2, ['a', 'b', ['Life', 'is']]]
# 'life' 문자열만 끄집어내려면,,
a[2][2][0]

'Life'

## 리스트의 슬라이싱

In [16]:
a = [1, 2, 3, 4, 5]
a[0:2]

[1, 2]

In [17]:
a = "12345"
a[0:2]

'12'

In [18]:
a = [1, 2, 3, 4, 5]
b = a[:2] # 처음부터 a[1]까지
c = a[2:] # a[2]부터 마지막까지

In [19]:
b

[1, 2]

In [20]:
c

[3, 4, 5]

In [21]:
result = a[1:3]
result

[2, 3]

In [22]:
# 리스트가 포함된 중첩 리스트 역시 슬라이싱 방법은 똑같이 적용된다.
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [23]:
a[3][:2]

['a', 'b']

## 리스트 연산하기

In [24]:
# 리스트 더하기(+)
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

In [25]:
# 리스트 반복하기(*)\
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [26]:
"abc" * 3

'abcabcabc'

In [27]:
# 리스트 길이 구하기
len(a)

3

In [28]:
# a[2] + "hi"  # 오류발생. a[2] = 3 정수형, "hi" str형은 당연히 서로 더할 수 없다.
str(a[2]) + "hi"  # int형을 str()로 감싸 문자형으로 변환 후 리스트연산

'3hi'

## 리스트의 수정과 삭제

In [29]:
# 리스트에서 값 수정하기
a = [1, 2, 3]
a[2] = 4  # a[2]의 요솟값 3이 4로 바뀜
a

[1, 2, 4]

In [30]:
# del 함수 사용해 리스트 요소 삭제하기
a = [1, 2, 3]
del a[1]  # del a[x] x번째 요솟값을 삭제한다.
a

[1, 3]

In [31]:
# 슬라이싱 기법을 사용하여 리스트의 요소 여러 개를 한꺼번에 삭제
a = [1, 2, 3, 4, 5]
del a[2:]
a

[1, 2]

## 리스트 관련 함수

In [32]:
# 리스트에 요소 추가(append)  append : 덧붙이다. 첨부하다.
a = [1, 2, 3]
a.append(4) # 리스트의 맨 마지막에 4를 추가
a

[1, 2, 3, 4]

In [33]:
a.append([5,6]) # 리스트의 맨 마지막에 [5, 6]을 추가
a

[1, 2, 3, 4, [5, 6]]

In [34]:
# 리스트 정렬(sort)
# sort 함수는 리스트의 요소를 순서대로 정렬해 준다.
a = [1, 4, 3, 2]
a.sort()
a

[1, 2, 3, 4]

In [35]:
# 문자 역시 알파벳 순서로 정렬할 수 있다.
a = ['a', 'c', 'b']
a.sort()
a

['a', 'b', 'c']

In [36]:
# 리스트 뒤집기(reverse)
# reverse 함수는 리스트를 역순으로 뒤집어 준다. 이때 리스트 요소들을 순서대로 정렬한 다음 다시 역순으로 정렬하는 것이 아니라 그저 현재의 리스트를 그대로 거꾸로 뒤집는다.
a = ['a', 'c', 'b']
a.reverse()
a

['b', 'c', 'a']

In [37]:
# 위치 반환(index)
# index 함수는 리스트에 x값이 있으면 x의 위치 값을 돌려준다.
a = [1,2,3]
a.index(3)

2

In [38]:
a.index(1)

0

In [39]:
# 0은 a리스트에 존재하지 않기 때문에 값 오류(valueError)가 발생
# a.index(0)

In [40]:
# 리스트에 요소 삽입(insert)
a = [1, 2, 3]
a.insert(0, 4) # a[0] 위치에 4 삽입
a

[4, 1, 2, 3]

In [41]:
a.insert(3, 5) # a[3] 위치에 5 삽입
a

[4, 1, 2, 5, 3]

In [42]:
# 리스트 요소 제거(remove)
# remove(x)는 리스트에 첫 번째로 나오는 x를 삭제하는 함수이다.
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [43]:
# a가 3이라는 값을 2ㅐ개 가지고 있을 경우 첫 번째 3만 제거되는 것을 알 수 있다.
a.remove(3)
a
# remove(3)을 한 번 더 실행하면 다시 3이 삭제된다.

[1, 2, 1, 2]

In [44]:
# 리스트 요소 끄집어내기(pop)
a = [1, 2, 3]
a.pop()

3

In [46]:
# pop()은 리스트의 맨 마지막 요소를 돌려주고 그 요소는 삭제한다.
a

[1, 2]

In [47]:
# pop(x)는 리스트의 x번재 요소를 돌려주고 그 요소는 삭제한다.
a = [1,2,3]
a.pop(1)

2

In [48]:
a

[1, 3]

In [49]:
# count(x)는 리스트 안에 x가 몇 개 있는지 조사하여 그 개수를 돌려주는 함수이다.
a = [1, 2, 3, 1]
a.count(1)

2

In [51]:
# 리스트확장(extend)
# extend(x)에서 x에는 리스트만 올 수 있으며 원래의 a 리스트에 x 리스트를 더하게 된다.
a = [1,2,3]
a.extend([4,5])
a
b = [6,7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]