In [1]:
(5 <= 6) & ( 3 == 4)

False

In [3]:
(2 != 1) | (3 >= 4)

True

In [4]:
(5 <= 6) & (0 == 0) | (3 < 4)

True

In [6]:
a = 2
b = 3
a * b

6

In [7]:
a= 4 
(a > 0) & (a <= 10)

True

In [9]:
type(10)

int

In [10]:
type(10.0)

float

In [23]:
print("*" * 10)

**********

In [1]:
print("한 줄 쓰고\n그 다음 줄을 쓴다.")

한 줄 쓰고
그 다음 줄을 쓴다.

In [3]:
print("한 줄 쓰고 ",end="")
print("이어서 쓴다.")

한 줄 쓰고 이어서 쓴다.

In [4]:
name = "홍길동"
print("내이름은 " + name + "입니다.")

내이름은 홍길동입니다.

In [5]:
mark = "$"
n = 20
print(mark + " 기호를 " + str(n) + "번 출력합니다.")
print(mark * n)

$ 기호를 20번 출력합니다.
$$$$$$$$$$$$$$$$$$$$

In [6]:
print('둘리가 "호이"!하고 말했어요.')

둘리가 "호이"!하고 말했어요.

In [7]:
print("둘리가 '이제 어디로 가지?'하고 생각했어요.")

둘리가 '이제 어디로 가지?'하고 생각했어요.

In [8]:
multi_line_string = """
파이썬(영어: Python)은 1991년 프로그래머인 
귀도 반 로섬(Guido van Rossum)이 발표한 고급 프로그래밍 언어로,
플랫폼 독립적이며 인터프리터식, 객체지향적, 동적 타이핑(dynamically typed) 
대화형 언어이다. 파이썬이라는 이름은 귀도가 좋아하는 코미디 〈Monty Python's Flying 
Circus〉에서 따온 것이다."""

print(multi_line_string)

파이썬(영어: Python)은 1991년 프로그래머인
귀도 반 로섬(Guido van Rossum)이 발표한 고급 프로그래밍 언어로,
플랫폼 독립적이며 인터프리터식, 객체지향적, 동적 타이핑(dynamically typed)
대화형 언어이다. 파이썬이라는 이름은 귀도가 좋아하는 코미디 〈Monty Python's Flying
Circus〉에서 따온 것이다.

In [9]:
# 문자열에서 특정 문자를 다른 문자로 바꾸려면 replace 메서드를 사용한다.
"2020.10.23".replace(".", "-")

'2020-10-23'

In [10]:
"word with space".replace(" ", "")

'wordwithspace'

In [11]:
"2020-12-25".replace("-", "")

'20201225'

In [1]:
"내 이름은 %s입니다." % "홍길동"

'내 이름은 홍길동입니다.'

In [2]:
"나는 %d살 입니다." % 12

'나는 12살 입니다.'

In [3]:
"원주율의 값은 %f입니다." % 3.141592

'원주율의 값은 3.141592입니다.'

In [4]:
"%d 곱하기 %d은 %d이다." % (2, 3, 6)

'2 곱하기 3은 6이다.'

In [5]:
"%s의 %s 과목 점수는 %d점이다." % ("철수", "수학", 100)

'철수의 수학 과목 점수는 100점이다.'

In [7]:
name = "Tom"
age = 13
print(name + " is " + str(age) + " years old")

Tom is 13 years old

In [11]:
a = 10
b = 3
print(str(a) + " / " + str(3) + " = " + str(a/b))

10 / 3 = 3.3333333333333335

In [15]:
"[%20s]" % "*"

'[                   *]'

In [16]:
"[%-20s]" % "A"

'[A                   ]'

In [17]:
"[%20d]" % 123

'[                 123]'

In [18]:
"[%-20d]" % 123

'[123                 ]'

In [20]:
x = 1 / 3.0
"%5f" % x

'0.333333'

In [21]:
"[%-20.6f]" % x

'[0.333333            ]'

In [42]:
a = 3
b = 12
print("%7d" % a)
print("x" + "%6d" % b)
print("--------")
print("%7d" % (a * b))

      3
x    12
--------
     36

In [1]:
"내 이름은 {}입니다.".format("홍길동")

'내 이름은 홍길동입니다.'

In [3]:
"내 이름은 {{{}}}입니다.".format("홍길동")

'내 이름은 {홍길동}입니다.'

In [4]:
# {}안에 앖의 순서를 지정하는 숫자를 넣을 수도 있다. 가장 앞에 있는 값은 {0}, 그 뒤의 값음 {1}, 이런식으로 지정한다.
# 이방법을 사용하면 값의 순서를 바뿌거나 같은 값을 여러번 인쇄할 수도 있다.
"{2}의 {0} 점수는 {1}점입니다.{1}점! {1}점!".format("수학", 100, "철수")

'철수의 수학 점수는 100점입니다.100점! 100점!'

In [1]:
# 순서를 나타내는 순자 대신 인수 이름을 지정할 수도 있다.
"{a}점수 : {x}점, {b}점수 : {y}점".format(a="영어", b="수학",x=100, y=90)

'영어점수 : 100점, 수학점수 : 90점'

In [2]:
# 만약 {}룰 여러개 사용하면서 순서 숫자나 인수 이름을 지정하지 않으면 순서대로 입력된다.
"{}점수: {}점, {}점수: {}점".format("영어", 100, "수학", 90)

'영어점수: 100점, 수학점수: 90점'

format 방식에서 공백의 크기를 지정하거나 부동소수점의 소수점 아래 숫자를 지정할 때는 {}안에 : 기호를 넣고 그 뒤에 고급 형식지정 문자열을 넣는다. : 뒤에 오는 숫자는 공백의 크기를 뜻한다. <는 값을 앞쪽으로 붙이고 공백을 뒤로 붙인다. 반대로 >는 값을 앞쪽으로 붙이고 공백을 뒤로 붙인다. 소숫점의 자릿수를 지정할 때는 .(점)과 숫자, 그리고 f 글자를 사용한다. , 기호를 넣으면 영미권에서 숫자를 쓸 때 천(1000)단위마다 붙이는 쉼표(thousand comma)를 붙인다.

고급 형식지정 문자열

의미

{:>10}

전체 10칸을 차지하며 공백을 앞에 붙임 (문자열을 오른쪽에 붙여서 출력)

{:<10}

전체 10칸을 차지하며 공백을 뒤에 붙임 (문자열을 왼쪽에 붙여서 출력)

{:^10}

전체 10칸을 차지하며 공백을 앞뒤에 붙임 (문자열을 중앙에 붙여서 출력)

{:.5f}

부동소수점의 소수점 아래 5자리까지 표시

{:,}

천단위 쉼표 표시

In [7]:
"[{:<20}]".format("*")

'[*                   ]'

In [6]:
"[{:>20}]".format("*")

'[                   *]'

In [8]:
"[{:^20}]".format("*")

'[         *          ]'

In [9]:
"[{:20.5f}]".format(1 / 3)

'[             0.33333]'

In [10]:
"[{:20,}]".format(1234567890)

'[       1,234,567,890]'

만약 > 기호앞에 문자열을 쓰면 해당 문자열로 공백을 채운다.

고급 형식지정 문자열

의미

{:*>10}

전체 10칸을 차지하며 “*”을 앞에 붙임 (문자열을 오른쪽에 붙여서 출력)

{:*<10}

전체 10칸을 차지하며 “*”을 뒤에 붙임 (문자열을 왼쪽에 붙여서 출력)

{:*^10}

전체 10칸을 차지하며 “*”을 앞뒤에 붙임 (문자열을 중앙에 붙여서 출력)

In [11]:
"[{:-<20}]".format("*")

'[*-------------------]'

In [12]:
"[{:->20}]".format("*")

'[-------------------*]'

In [13]:
"[{:-^20}]".format("*")

'[---------*----------]'

In [14]:
# format 방법의 또다른 특징은 {}안에서 리스트나 사전의 인덱싱을 할수 있다는 것이다.
x = [10, 11, 12,]
"리스트의 첫번째 원소={0[0]}".format(x)

'리스트의 첫번째 원소=10'

In [16]:
y = {"a" : 10, "b" : 11, "c" : 12}
"사전의 a키 값={0[a]}".format(y)

'사전의 a키 값=10'